.planetsBackground {
    padding-left: 13% !important;
    padding-right: 13% !important;

    min-height: 100vh;

    background-image: url("../../assets/images/PlanetsBackground.png");
    background-size: cover;
    background-position: center;
}

.planetsBox {
    padding-top: 175px;

    color: #FFFFFF;
}

.planetsText1 {
    padding-top: 135px;

    font-size: 1.5rem;
    font-weight: bolder;

    color: #FFFFFF
}

.isPlanetActive {
    margin: 0px 10px 20px 10px;

    border: none;

    color: #FFFFFF;
    background-color: transparent;

    display: inline-block;
    border-bottom: 2px solid #FFFFFF;
}

.isPlanetActive::after{
    border-bottom: 2px solid #FFFFFF;
}

.isPlanetInactive {
    margin: 0px 10px 20px 10px;

    border: none;

    color: #D0D6F9;
    background-color: transparent;

    display: inline-block;
}

.isPlanetInactive:hover {
    border-bottom: 2px solid #D0D6F9;
}

.planetImage {
    margin-top: 50px;

    width: 375px;
}

.planetsName {
    font-size: 5rem;
    text-align: left;

    color: #FFFFFF;
}

.planetDescription {
    font-size: 1rem;
    text-align: justify;

    color: #D0D6F9;
}

.planetDistance {
    margin-bottom: 0px;

    font-size: 1rem;
    text-align: left;

    color: #D0D6F9;
}

.planetSattelites {
    margin-top: 0px;

    font-size: 2rem;
    text-align: left;

    color: #FFFFFF;
}

@media only screen and (max-width: 1045px) {
    .planetImage {
        width: 350px;
    }
}

@media only screen and (max-width: 900px) {
    .planetImage {
        width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .planetsBox {
        padding-top: 25px;
    }
    .planetsText1 {
        padding-top: 100px;
        text-align: center;
    }
    .planetImgBox {
        margin-top: -50px !important;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .planetsName, .planetDistance, .planetSattelites {
        text-align: center;
    }
}

.rotating {
    animation: rotate 150s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}