.navbarComponent {
    margin-top: 20px;
    margin-left: 40%;
    
    height: 75px;
}

.navbar-toggler {
    margin-left: 90% !important;

    border-color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url('../../assets/icons/NavbarBurger.png') !important;
}

.btn-close {
    margin-right: 10px !important;
    height: 100px !important;
    --bs-btn-close-opacity: 1 !important;
    background-image: url('../../assets/icons/NavbarButton.png') !important;
}

.navbarLine {
    position: absolute;

    margin-left: -45%;
    width: 50%;
}

.navabrStar {
    position: absolute;

    margin-top: -25px;
    margin-left: -60%;
}

.nav-link {
    margin-top: 10px;
}

.navbarText1 {
    position: relative;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;

    font-size: 1.2rem !important;
    color: #FFFFFF !important;
}

.navbarText1::after {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: -3px;
    width: 100%;

    content: '';
    height: 2px;

    background-color: #FFFF;
}

.navbarText2 {
    position: relative;
    display: inline-block;

    margin-left: 10px;
    margin-right: 10px;

    font-size: 1.2rem !important;
    color: #D0D6F9 !important;
}

.navbarText2::after {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: -3px;
    width: 100%;

    content: '';
    height: 2px;
    
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbarText2:hover::after {
    background-color: #FFFFFF;
}

.offcanvas {
    background-color: transparent !important;
}

.offcanvas-body, .offcanvas-header {
    height: 75px;
    padding-top: calc(75px / 12) !important;
    margin-left: -20px;
    margin-right: -20px;

    backdrop-filter: blur(10px) !important;
    background-color: rgba(60, 60, 60, 0.4) !important;
}

@media only screen and (max-width: 700px) {
    .navbar-toggler {
        margin-left: 80% !important;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-toggler {
        margin-left: 70% !important;
    }
}

@media only screen and (max-width: 990px) {
    .navbarLine {
        display: none;
    }
}