.principalBackground {
    padding-left: 13% !important;
    padding-right: 13% !important;

    min-height: 100vh;

    background-image: url("../../assets/images/PrincipalBackground.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    background-attachment: fixed;
}

.titleHome1 {
    padding-top: 45%;
    margin-bottom: 0px;

    font-size: 2rem;

    color: #D0D6F9;
}

.titleHome2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10rem;

    color: #FFFFFF;
}

.titleHome3 {
    font-size: 1.2rem;
    text-align: justify;

    color: #D0D6F9;
}

.exploreContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: 35% !important;

    height: 100%;
}

.explore {
    margin-left: 100% !important;

    width: 200px !important;
}

.explore:hover {
    content: url("../../assets/images/ExploreHover.png");
}

@media only screen and (max-width: 1000px) {
    .explore {
        margin-left: 80% !important;
    }
}

@media only screen and (max-width: 900px) {
    .explore {
        margin-left: 60% !important;
    }
}

@media only screen and (max-width: 767px) {
    .principalBackground {
        background-image: url("../../assets/images/SecondaryBackground.jpg");
    }
}

@media only screen and (max-width: 1000px) {
    .titleHome2 {
        font-size: 6.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .titleHome2 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    .exploreContainer {
        margin-top: 0% !important;
    }
    .explore {
        margin-top: 10%;
        margin-left: 0% !important;
        width: 175px !important;
    }
}